.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Box{
    background-color:red;
    border-radius: 45px;
    width: 1200px;
    margin-top: 5%;
    color:white;
    display: flex;
    justify-content:row; 
    text-align: center;
}
.img{
    margin-top: 15px;
    width:500px ;
    height:300px;
}
.cardbackground1{
    margin-left: 24px;
      display: flex;
    justify-content:row;  
}

.cardbackground{
    font-size:14px;
    margin-left: 14px;
}



@media screen and (max-width: 600px) {
    .box {
      width: 100%;
    }
    .Box{
      width: 100%;
      flex-direction: column;
      word-wrap: break-word;
    }
    .cardbackground{
        font-size:12px;
        word-wrap: break-word;
    }
    .cardbackground1{
        margin-top: 15px;
    }
  }

  /*
       RESPONSIVE WEB TABLE
*/
 @media screen and (max-width: 464px) {
    .box {
        width: 100%;
      }
      .Box{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        word-wrap: break-word;
      }
      .cardbackground{
          font-size:12px;
          word-wrap: break-word;
      }
      .cardbackground1{
          margin-top: 15px;
      }
      .img{
        margin-top: 15px;
        width:310px;
        height:200px;
      }
}